.footer {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 10rem;
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-color: var(--gray-800);
}

footer .copy_heart {
  color: red;
}
